<% if User.current.allowed_to?(:change_issue_author, @project) %>
  <p>
    <label for="issue_author_id"><%= l(:field_author) %><span class="required"> *</span></label>
    <%= text_field_tag '', @issue.author || @issue.reload.author, disabled: true, style: 'margin-top:-5px', id: :issue_author_name %>
    <%= hidden_field_tag 'issue[author_id]', @issue.author, id: :issue_author_id %>
    <%= link_to image_tag('edit.png'), new_project_issue_author_path(@project), remote: true %>
  </p>
<% end %>
