<% if User.current.allowed_to?(:change_issue_author, @project) %>
  <% potential_authors = issue.project.members.select { |member| member.user.allowed_to?(:add_issues, issue.project)}.map(&:user) %>
  <p>
    <label for="issue_author_id"><%= l(:field_author) %><span class="required"> *</span></label>
    <%= select_tag('issue[author_id]', options_from_collection_for_select(potential_authors, 'id', 'name', issue.author_id) ) %>
  </p>
<% end %>

